@model RepidShare.Entities.MasterSettingModel
@{
    if (Model.MasterSettingID > 0)
    {
        ViewBag.Title = "Edit Master Setting";
    }
    else
    {
        ViewBag.Title = "Add Master Setting";
    }
    
}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/Home/Home">
                <img src="@Url.Content("~/Images/home-icon.png")"></a></li>
            @*<li>@Html.ActionLink("View MasterSetting", "ViewMasterSetting", "MasterSetting")</li>*@
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="gray-heading">@ViewBag.Title</h2>
        <div class="white-bg">
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/chosen.css")" />
            <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
            @using (Html.BeginForm("SaveMasterSetting", "MasterSetting", FormMethod.Post, new { @id = "frmMasterSetting" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.MasterSettingID, new { Value = Model.MasterSettingID, id = "hdnMasterSettingID" })
                @Html.HiddenFor(model => model.Message, new { Value = Model.Message, id = "hdnMessage" })
                @Html.HiddenFor(model => model.MessageType, new { Value = Model.MessageType, id = "hdnMessageType" })

                <div class="row">
                    <div class="col-sm-3 label-style">
                        @Html.LabelFor(model => model.VatTax, new { @class = "labelColon" })
                    </div>
                    <div class="col-sm-4 mandatoryFeild">
                        @Html.TextBoxFor(model => model.VatTax, new { @id = "txtVatTax", @class = "form-control name", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.VatTax)
                    </div>
                </div>
                <div class="text-left button-MasterSetting row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-4">
                        <input id="btnSave" class="btn btn-primary" type="button" value="Save" />
                        <input id="btnSubmit" class="btn btn-primary" type="submit" value="Save" style="display: none" />
                        <input id="btnCancel" type="button" class="btn cancel btn-primary" causesvalidation="false"
                            value="Cancel" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $("#txtVatTax").focus();
        // Show  Error Message on popup by common function showMessagePopup if any error found in hidden fields hdnMessage and hdnMessageType
        showMessagePopup("divMessage", $("#hdnMessageType").val(), $("#hdnMessage").val());
        //Submit the form on save button click
        $("#btnSave").click(function () {
            $("#btnSubmit").click();
        });

        //redirect to  MasterSetting List on Cancel button click
        $("#btnCancel").click(function () {
            window.location.href = "/MasterSetting/ViewMasterSetting";
        });

    });

</script>
