@using RepidShare.Entities
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Login";
}
@model UserLogin
<script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="clearfix user-wrapper">
    <div class="user-login">
        <h1>Login</h1>
        <div id="divMessage">
        </div>
        @using (Ajax.BeginForm("Login", "User", null, new AjaxOptions { OnBegin = "beginRequest", OnComplete = "endRequest" }, new { @id = "frmLogin" }))
        {
            @Html.AntiForgeryToken()
            <div class="user-content-body">
                <div class="form-row">
                    @*<label>
                        User Name <span>* </span>
                    </label>*@
                    @Html.LabelFor(model => model.UserName, new { @class = "lblRequired" })
                    @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName", @maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="form-row">
                    @*<label>
                        Password <span>* </span>
                    </label>*@
                    @Html.LabelFor(model => model.Password, new { @class = "lblRequired" })
                    @Html.PasswordFor(model => model.Password, new { id = "txtPassword", @maxlength = 25 })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="form-action clearfix">
                    <input id="btnLogin" type="button" value='Login' class="btn btn-primary" />
                    <input id="btnSubmit" type="submit" value="login" style="display: none" class="btn btn-primary" />
                    <div class="pull-right">
                        <a href="/User/ForgotPassword">Forgot Password</a>
                    </div>
                </div>
            </div>
        }
        <div class="user-footer">
            <div class="form-action clearfix">
                <div class="pull-center">
                    <a href="Javasctipt:void()">Sing-UP</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function setFocusToUserNameTextBox() {
        if ($("#txtUserName").val() == "") {
            $("#txtUserName").focus();
        }
    }

    $(document).ready(function () {
        setFocusToUserNameTextBox();

        $('#txtUserName').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('#txtPassword').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        var message = '@Model.Message';
        var messageType = '@Model.MessageType';

        if (message != '' && messageType != '') {

            showMessage("divMessage", messageType, message);
        }

        $("#btnLogin").click(function () {
            if ($("#frmLogin").valid()) {
                $("#btnSubmit").click();
            }
            else {
                $("#frmLogin").valid();
            }
        });

    });

    $(document).keyup(function (e) {
        if (e.keyCode == 13) {
            $("#btnSubmit").click();
        }
    });
</script>
