<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
  ================================================== -->
    @Styles.Render("~/Content/css")
    @* <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet">*@
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")" type="text/javascript"></script>
    <![endif]-->
    <!-- Favicons
	================================================== -->
    

    
    @*<link rel="shortcut icon" href="../../Images/favicon.ico">*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
 
    <script type="text/javascript" src="/Scripts/jquery-ui-timepicker-addon.js"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    @* <script type="text/javascript" src="/Scripts/jquery.js"></script>*@
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/moment.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../../Scripts/bootbox.min.js"></script>
    <script src="../../Scripts/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../Scripts/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.nicescroll.min.js"></script>
    @Scripts.Render("~/bundles/jscomm")

    <script type="text/javascript">

        //Disable Back Button In All Browsers.
        function DisableBackButtonAllBrowsers() {
            window.history.forward()
        };
        DisableBackButtonAllBrowsers();
        window.onload = DisableBackButtonAllBrowsers;
        window.onpageshow =
function (evts) {
    if (evts.persisted) DisableBackButtonAllBrowsers();
};
        window.onunload =
function () { void (0) };
    </script>
</head>
<body>
    <div class="main-page-header">
        <a href="javascript:void(0);" class="navbar-icon navbar-toggle" id="menu-toggle"><span
            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
        <div class="header-sidebar">
            @*<div class="logo">
                <img src="/Images/logo.png" alt="Reliance - Jio infocomm Limited">
            </div>*@
        </div>
        <div class="header-content-wrapper">
            <div class="header-title">
                
                <p>
                    Admin Section for Document Managment
                </p>
            </div>
            @Html.Partial("_LoginStatus")
        </div>
    </div>
    <!--.main-page-header-->
    <div class="main-page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar">
                <div class="page-sidebar-menu">
                    @Html.Partial("_sideMenu")
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content-body">
            <div class="container-fluid">
                @* <div id="divMessage">
                </div>*@
                <div class="modal fade" id="divMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog message-wrapper">
                        <div id="divMessage-container" class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;</button>
                            <div class="modal-body">
                                <h1></h1>
                                <div id="divMessage-text" class="message-caption">
                                    Your Password will be expire in next 5 days do you want to change password now.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!--.main-page-container-->
    <!--.Model Box Start Code-->
    <div class="modal fade" id="light-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content model-form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <div class="modal-body">
                    <h1 id="modal-body-title"></h1>
                    <div id="modal-body-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--.Model Box End Code-->
    <div id="ConfirmDialog" style="display: none">
        <p>
            <img alt="warning" src="../../Images/ui-warning.jpg" width="25" height="18" />
            Are you sure to delete ?
        </p>
    </div>
    <script src="/Scripts/jquery.jscrollpane.min.js" type="text/javascript"></script>
    <script src="/Scripts/nanoScroller.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/custom.js"></script>
    <script language="javascript" type="text/javascript">
        var SessionTimeOut,preLoginURL;
        $(document).ready(function () {

        

            // Security issue no 14, Set Autocomplete off, 09Jan2015.
            $("input").attr("autocomplete", "off");                
            SessionTimeOut = @(Session.Timeout * 60000)
            preLoginURL = '@(Url.Action(RepidShare.Utility.CommonUtils.preLoginPageActionMethod, RepidShare.Utility.CommonUtils.preLoginPageController))'
            SetSessionOutRedirection(SessionTimeOut, preLoginURL);
        });
        (function ($) {
            $(document).ready(function () {
              
                 
                $("textarea[maxlength]").keyup(function () {

                    var maxLength = $(this).attr("maxlength");
                    CheckLength(this, maxLength);
                });


                $("textarea[maxlength]").change(function () {
                    var maxLength = $(this).attr("maxlength");
                    CheckLength(this, maxLength);
                });

                function CheckLength(text, long) {
                    var maxlength = new Number(long); // Change number to your max length.
                    if (text.value.length > maxlength) {
                        text.value = text.value.substring(0, maxlength);
                    }
                }

                $("input.numeric").numeric(false, { negative: false });
                $("input.numericDecimal").numeric({ negative: false, decimal: "." });

            });
        })(jQuery); 

        // Security issue no 12, Token management, 09Jan2015.
        ///Check Ajax request in session time out or token change 
        $(document).ajaxError(function (e, xhr) {
            if (xhr.status == '403') {
                window.location.href = "/Home/PreLogin";
            }
        });  
    </script>
</body>
</html>
