@model IIMSSurveyEntities.SurveyResponseDetailModel
@using IIMSSurvey.Common;
<div class="row">
    @if (Model != null && Model.Questions != null && Model.Questions.Count() > 0)
    {
        if (Model.IsReadOnly)
        { 
        <div class="col-sm-12">
            <div class="ViewTextResponse">@Model.Questions[Model.Index].AnswerDetail</div>
        </div>
        }
        else
        {
        <div class="col-sm-6">
            @Html.MultiLineTextBoxFor(model => Model.Questions[Model.Index].AnswerDetail, Model.Questions[Model.Index])
            @Html.ValidationMessageFor(model => Model.Questions[Model.Index].AnswerDetail)
        </div>
        }
    
     
        @Html.HiddenFor(model => model.Questions[Model.Index].SurveyResultDetailID, new { Value = Model.Questions[Model.Index].SurveyResultDetailID })
        @Html.HiddenFor(model => model.Questions[Model.Index].SurveyQuestionID, new { Value = Model.Questions[Model.Index].SurveyQuestionID })
    } 
</div> 
